
<%- include ('partials/_header'); %>

<div class="container">
    <div class="row">
         <!-- FORM-->
 <div class="col-md-5 offset-md-3">
    <div class="card">
        <div class="card-body">
            <form action="/editar/<%= publicacion._id %>" method="POST">
                <div class="form-group">
                    <input type="text" name="titulo" placeholder="Inserte titulo" class="form-control mb-3" value="<%= publicacion.titulo %>">
                </div>
                <div class="form-group">
                    <input type="text" name="subtitulo" placeholder="Inserte subtitulo" class="form-control mb-3" value="<%= publicacion.subtitulo %>">
                </div>
                <div class="form-group">
                    <textarea name="descripcion" cols="80" class="form-control mb-3" placeholder="Insertar descripcion"><%= publicacion.descripcion %></textarea>
                </div>
                <button type="submit" class="btn btn-primary w-100">
                    Editar
                </button>
            </form>

        </div>

    </div>

</div>

    </div>

</div>

<%- include ('partials/_footer'); %>